.popup__form {
    max-width: 430px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 330px;
    position: fixed;
    margin-top: 40px;
    width: 34%;
}

@media screen and (max-width: 1060px) {
    .popup__form {
        width: 50%;
    }
}

@media screen and (max-width: 709px) {
    .popup__form {
        width: 88%;
    }
}